*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    color: #26ABA7;
}
body{
     background-color:  #fffafa;
}
.page{
    color: #BE3892;
    font-weight: bolder;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
}
a:hover{
    color: #BE3892;
    font-weight: bolder;
}
nav{
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 500;
}
.menu{
    display: flex;
    align-items: center;
}
img.logo{
    max-width: 100px;
    border-radius: 40%;
    margin-right: 10px;
}
header{
    padding: 10px;  
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
}
hr{
    width: (100% - 40px);
    border: 1px solid;
    margin: 0 50px;   
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:#fffafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5%;
}
h2 {
    text-align: center;
    color: #BE3892;
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
button {
    background-color: #26aba7;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #BE3892;
}
