body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: #eae8e5;
    color: #26ABA7;
}

header {
    padding: 20px 60px;
    font-weight: 400;
    color: #26ABA7;
    border-bottom: 1px solid black; /* borda inferior */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.barra ul {
    list-style-type: none;
}

nav.barra ul li {
    display: inline;
    margin-right: 20px;
}

nav.barra ul li a {
    text-decoration: none;
    color: #26ABA7;
}

nav.barra ul li a.page {
    color: #BE3892;
}

h2 {
    margin: 0;
    text-align: center;
}

.grupo {
    max-width: 480px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}


.form_label {
    color: #585757;
    font-weight: bold;
}

.form_input,
.message_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-sizing: border-box;
    background-color: #ffffff;
    color: #26ABA7;
}

.message_input {
    height: 100px;
}

/* Ajustando o botão */
.submit_btn {
    background-color: #BE3892;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.submit_btn:hover {
    background-color:  #26ABA7;
}

p.rodape{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 35px 0 0 0;
}

/* Ajustando e ocultando o campo real de entrada */
input[type="file"] {
    display: none;
}

label[for="foto_empresa"] {
    background-color:  #BE3892;
    color: #ffffff; 
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    border-radius: 15px;
}

/* Ajustando o efeito hover do label */
label[for="foto_empresa"]:hover {
    background-color: #26ABA7;

}

.invalid-input {
    background-color: #ff062f; 
}