*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    color: #26ABA7;
}
body{
    background: rgb(112,173,171);
    background: linear-gradient(90deg, rgba(112,173,171,0.4095763305322129) 0%, rgba(234,232,229,1) 50%, rgba(199,117,172,0.3983718487394958) 100%);
}
.page{
    color: #BE3892;
    font-weight: bolder;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 5px;
    font-weight: 400;
}
a:hover{
    color: #BE3892;
    font-weight: bolder;
}
nav{
    padding: 10px;
    align-items: center;
    font-weight: 500;
}
.menu{
    display: flex;
    align-items: center;
}
img.logo{
    max-width: 100px;
    border-radius: 40%;
    margin-right: 10px;
}
header{
    padding: 10px;  
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
}
hr{
    width: (100% - 40px);
    border: 1px solid;
    margin: 0 50px;   
}
#clinicas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 160px auto 20px; 
    padding: 0 20px; 
    max-width: 1200px; 
  
}

.clinica {
    width: 18%; 
    margin: 1%;
    padding: 20px;
    background-color: #FFFFFF; 
    border-radius: 15px; 
    border: 2px solid #BE3892;
    transition: border-color 0.3s, transform 0.3s; 
}

.clinica:hover {
    border-color: #26ABA7;
    transform: scale(1.15);
}

.clinica img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.clinica h2 {
    margin: 0;
}

.clinica p {
    margin: 5px 0;
}

.clinica a {
    color: #BE3892;
    text-decoration: none;
    font-weight: bold;
}

.clinica a:hover {
    text-decoration: underline;
}


nav {
    text-align: center; 
}

nav button {
    margin: 50px;
    padding: 15px 30px;
    background-color: #BE3892;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

nav button:hover {
    background-color: #26ABA7;
    transform: scale(1.15);
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}