@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
   
}

header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 20px;
}
.menu {
    display: flex;
    list-style-type: none;
    
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 10px;
    list-style-type: none;
}

nav ul li a {

    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: #26aba7;
    font-size: 18px; /* Tamanho da fonte dos itens do menu */
}

nav a:hover {
    color: #6e214e;
    font-weight: bolder;
}

/* Alinhamento da logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    margin-right: 10px;
}

.logo span {
    color: #26aba7;
    font-weight: bold;
    font-size: 24px; /* Tamanho da fonte do texto ao lado da logo */
}

/** Read More/Less Button **/
#read_button {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    color:#26aba7;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}


#read_button:hover {
    background-color: transparent;
    color: #6e214e;
    transition: all 0.2s ease-in-out;
}

/* Estilos adicionais para os artigos */
h1, h2 {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

img {
    float: left;
    margin-right: 0px;
    max-width: 200px;
}

p {
    margin-bottom: 50px;
}

.content {
    margin-top: 20px;
}

.container {
    margin-bottom: 20px;
}

.container img {
    margin-right: 20px;
}

.container p {
    margin-bottom: 0;
}


footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}