*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: #eae8e5;
    color: #26ABA7;
}

header{
    padding: 10px;  
    font-weight: 400;
    color: #26ABA7;
}

.menu{
    display: flex;
    justify-content: space-between; /* Ajuste para espaçamento entre os elementos */
    align-items: center; /* Centraliza verticalmente */
}

nav.barra ul {
    list-style-type: none; /* Remover marcadores de lista */
}

nav.barra ul li {
    display: inline; /* Exibe os itens em linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

nav.barra ul li a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #26ABA7;
}

section.container_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px; 
    width: 70%; 
    max-height: calc(100vh - 120px); 
    overflow: auto; 
    padding: 20px;
    background-color: #f2f2f2; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    text-align: center;
}

.form_grupo label {
    font-weight: bold;
    color: #666; 
    margin-bottom: 5px;
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.message_input {
    height: 100px;
}

.submit_btn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit_btn:hover {
    background-color: #45a049; 
}

.BUTTONS {
    text-align: center;
    margin-top: 550px;
}

.BUTTONS button {
    margin: 8px;
    width: 10%;
    border-radius: 5px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
