body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7e5d3; 
}

.container_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px; 
    width: 70%; 
    max-height: calc(100vh - 120px); 
    overflow: auto; 
    padding: 20px;
    background-color: #f2f2f2; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    color: #ff69b4;
    text-align: center;
    margin-bottom: 20px;
}

.form_grupo label {
    font-weight: bold;
    color: #666; /* Alterada para corresponder ao padrão */
    margin-bottom: 5px;
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.message_input {
    height: 100px;
}

.submit_btn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit_btn:hover {
    background-color: #45a049; 
}

.BUTTONS {
    text-align: center;
    margin-top: 580px;
}

.BUTTONS button {
    margin: 2px;
    width: 10%;
}
