/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: #eae8e5;
    color: #26ABA7;
}

header {
    padding: 20px 60px; /* Aumentando o padding para dar mais espaço */
    font-weight: 400;
    color: #26ABA7;
    border-bottom: 1px solid black; /* Adiciona uma borda inferior preta */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.barra ul {
    list-style-type: none;
}

nav.barra ul li {
    display: inline;
    margin-right: 20px;
}

nav.barra ul li a {
    text-decoration: none;
    color: #26ABA7;
}

nav.barra ul li a.page {
    color: #BE3892;
}

h1 {
    margin: 0;
    text-align: center;
}

/* Estilos do formulário */
.container {
    max-width: 410px;
    width: 90%;
    margin: auto;
    margin-top: 50px; /* Aumentando a margem superior */
    margin-bottom: 20px; /* Adicionando margem inferior */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 20px; /* Tornando as bordas do container do formulário arredondadas */
    box-shadow: 0 0 5px rgba(216, 211, 211, 0.1), 0 0 5px rgba(255, 255, 255, 0.8); /* Adicionando efeito de sombra branco */
}

.form_grupo label {
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
    display: block;
}

.form_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Tornando as bordas dos campos de entrada arredondadas */
    box-sizing: border-box;
}

.message_input {
    height: 70px;
}

.submit_btn {
    background-color: #BE3892; /* Alterando a cor do botão para rosa */
    color: white;
    padding: 15px 30px; /* Aumentando o padding para aumentar o tamanho do botão */
    border: none;
    border-radius: 10px; /* Tornando as bordas do botão arredondadas */
    cursor: pointer;
    font-size: 18px; /* Aumentando o tamanho da fonte */
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.submit_btn:hover {
    background-color: #45a049; /* Alterando a cor do botão para verde no hover */
    transform: scale(1.1);
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 5px;
    border-radius: 40px;
    margin-right: -170px;
}
