body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: #eae8e5;
    color: #26ABA7;
}

header {
    padding: 10px 30px;
    font-weight: 400;
    color: #26ABA7;
    border-bottom: 1px solid black;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.barra ul {
    list-style-type: none;
}

nav.barra ul li {
    display: inline;
    margin-right: 20px;
}

nav.barra ul li a {
    text-decoration: none;
    color: #26ABA7;
}

nav.barra ul li a.page {
    color:#BE3892
}

.container_1 {
    max-width: 500px;
    width: 80%;
    margin: 0 auto; 
    text-align: center;
    background-color: white;
    border: 5px solid #26ABA7;
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.container_1:hover {
    background-color: #BE3892;
    color: #ffffff;
}

h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    transition: border-color 0.3s, color 0.3s, box-shadow 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.logo {
    width: 100px; 
    height: auto; 
    margin-right: 5px; 
    border-radius: 40px;
    margin-right: -170px; 
}

.container_1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

h1:hover {
    border-color: #BE3892;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(190, 56, 146, 0.5);
}

nav.barra ul li a:hover {
    color: #BE3892;
}

nav.barra ul li:first-child a {
    color: #BE3892;
}
