body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial;
    background-color: #eae8e5;
    color: #26ABA7;
}

header {
    padding: 20px 60px;
    font-weight: 400;
    color: #26ABA7;
    border-bottom: 1px solid black; /* borda inferior */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.barra ul {
    list-style-type: none;
}

nav.barra ul li {
    display: inline;
    margin-right: 20px;
}

nav.barra ul li a {
    text-decoration: none;
    color: #26ABA7;
}

nav.barra ul li a.page {
    color: #BE3892;
}

nav.barra ul li a:hover {
    color: #FF69B4;
    transform: scale(2.2);
}

/* Estilos das clínicas */
.clinica {
    display: inline-block;
    width: 23%; /* Para exibir 4 clínicas por linha com espaço */
    margin: 1%;
    padding: 20px;
    background-color: #ffc0cb; /* Cor de fundo rosa */
    border-radius: 10px; /* Borda arredondada */
}

.clinica img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.clinica h2 {
    margin: 0;
}

.clinica p {
    margin: 5px 0;
}

.clinica a {
    color: #e91e63; 
    text-decoration: none;
    font-weight: bold;
}

.clinica a:hover {
    text-decoration: underline;
}

/* Estilos dos botões */
nav {
    text-align: center;
    margin-top: 20px;
}

nav button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #e91e63; /* Cor de fundo rosa */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #FF69B4; /* Cor de fundo rosa mais clara ao passar o mouse */
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 40px;
    margin-right: -170px; /* Ajuste necessário */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffb6c1; 
    color: black; 
    padding: 10px 0;
    text-align: center;
}
